<div class="page-container">
  <div class="support-card">
    <h2 class="card-title">Support</h2>

    <p class="card-description">
      <span>Need help with your parcel or account?</span>
      <br>
      <br>
      <span>Reach out to us using the details below.</span>
    </p>

    <div class="support-details">
      <div class="detail-row">
        <span class="label">Email</span>
            <a class="value email-link" href="mailto:shipin@gmail.com">
                {{ companyEmail }}
            </a> 
      </div>

      <div class="detail-row">
        <span class="label">Phone</span>
        <span class="value">{{ supportPhone }}</span>
      </div>

      <div class="detail-row">
        <span class="label">Working Hours</span>
        <span class="value">{{ workingDays }}
            <br>
            <span class="value">{{ workingHours }}</span>
        </span>

      </div>
    </div>
  </div>
</div>
